<div class="ui piled segment profile">
  <h3 class="ui header">登録情報</h3>
  <div class="ui divider"></div>
  <div class="row">
    <div class="col-sm-4">基本情報</div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-4 profile">
          <p>名前</p>
          <p>性別</p>
          <p>電話番号</p>
          <p>郵便番号</p>
          <p>住所</p>
        </div>
        <div class="col-xs-8">
          <p><%= @user.name %></p>
          <p><%= @user.sex %></p>
          <p><%= @user.number %></p>
          <p><%= @user.addresses[0].postcode %></p>
          <p><%= @user.addresses[0].address %></p>
        </div>
      </div>
    </div>
  </div>
</div>

