
<!--menu for pc-->
<div class="menu pc">
  <div class="items">
    <div class="left menu item">
      <%= link_to "TATSU EC", root_path %></div>
    <div class="right menu">
      <span class="item">
        <%= link_to cart_index_path do %>
          <i class="shopping cart icon"></i>
        <% end %>
      </span>
      <% if current_user  %>
        <%= link_to current_user.name, current_user %>様
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Sign in",  new_user_session_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>

<!--menu for tablet and smartphone-->
<div class="ui sidebar inverted vertical menu">
  <a class="item">
    <i class="user outline icon left floated"></i>My account
  </a>
  <a class="item">
    <i class="tags icon"></i>カテゴリーから探す
  </a>
  <a class="item">
    <i class="bullhorn icon"></i>News
  </a>

  <a>
    <% if current_user  %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete,:class =>"item" %>
    <% else %>
      <%= link_to "Sign in",  new_user_session_path,:class =>"item" %>
    <% end %>
  </a>
</div>

<!-- 上部ナビゲーションメニュー -->
<div class="ui top fixed menu sp">
  <div class="menu">
    <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
  </div>
</div>

<script>
    $('#js-sidebar').click(function () {
        $('.ui.sidebar')
            .sidebar('toggle');
    })

</script>

