<div class="product show">
  <div class="row">
    <div class="col-sm-6">
      <div class="product_image">
        <% @product.photos.each do |photo| %>
          <%= image_tag photo.url  %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="about_product">
        <%= form_tag cart_index_path, method: :post do  %>
          <ul>
            <li>
              <span class="product_name"><%= @product.product_name %></span>
            </li>

            <li>
              <span class="description"><%= @product.description %></span>
            </li>

            <li>
              <span class="price"><%= @product.price %></span>
            </li>
            <li>
                <%= hidden_field_tag 'cart[product_id]', @product.id%>
                <div class="size">
                  <% if @product.stocks.size > 0 %>
                    <% @product.stocks.each do |product| %>
                     <%= select_tag 'cart[size]', options_for_select("#{product.size}"=>"#{product.size}"),class:"ui fluid dropdown" %>
                    <% end %>
                  <% else %>
                    <%= select_tag 'cart[size]',:disabled, class:"ui fluid dropdown" %>
                  <% end %>
                </div>
            </li>

            <li>
              <div class="color">
                  <% if @product.stocks.size > 0 %>
                    <% @product.stocks.each do |product| %>
                      <%= select_tag 'cart[color]', options_for_select("#{product.color}"=>"#{product.color}"),class:"ui fluid dropdown",required:true %>
                    <% end %>
                  <% else %>
                    <%= select_tag 'cart[color]',:disabled, class:"ui fluid dropdown",required:true %>
                  <% end %>
              </div>
            </li>
            <li>
              <div class="amount">
                <div class="ui form">
                  <div class="field ">
                      <%= number_field_tag 'cart[amount]', class:"two wide field", required:true %>
                  </div>
                </div>
              </div>

            </li>
          </ul>

          <button class="fluid ui black button cart">
            <%= submit_tag('Add to Cart', :style => "display: none;" )%>
            Add To Cart<i class="shopping cart icon"></i>
          </button>

          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>